In [1]:
import numpy as np

In [2]:
import pandas as pd

final_tmp=pd.read_csv('C:/Users/vicky/Desktop/prokabaddi/processed_data/final.csv')

In [3]:
final_tmp[final_tmp['season']=='season 1'].isnull().sum(axis = 0)

team1              0
team2              0
team1_score        0
team2_score        0
season             0
matched_played1    0
total_point1       0
matched_played2    0
total_point2       0
Pld1               0
W1                 0
L1                 0
D1                 0
Pts1               0
Pld2               0
W2                 0
L2                 0
D2                 0
Pts2               0
dtype: int64

In [4]:
final_tmp[final_tmp['season']=='season 2'].isnull().sum(axis = 0)

team1              0
team2              0
team1_score        0
team2_score        0
season             0
matched_played1    0
total_point1       0
matched_played2    0
total_point2       0
Pld1               0
W1                 0
L1                 0
D1                 0
Pts1               0
Pld2               0
W2                 0
L2                 0
D2                 0
Pts2               0
dtype: int64

In [5]:
final_tmp[final_tmp['season']=='season 5'].isnull().sum(axis = 0)

team1               0
team2               0
team1_score         0
team2_score         0
season              0
matched_played1    13
total_point1       13
matched_played2    29
total_point2       29
Pld1                8
W1                  8
L1                  8
D1                  8
Pts1                8
Pld2               11
W2                 11
L2                 11
D2                 11
Pts2               11
dtype: int64

In [6]:
df_train=final_tmp[final_tmp['season']!='season 7']

In [7]:
len(df_train)

466

In [8]:
df_train=df_train.dropna()

In [9]:
df_test=final_tmp[final_tmp['season']=='season 7']

In [10]:
df_test.columns

Index(['team1', 'team2', 'team1_score', 'team2_score', 'season',
       'matched_played1', 'total_point1', 'matched_played2', 'total_point2',
       'Pld1', 'W1', 'L1', 'D1', 'Pts1', 'Pld2', 'W2', 'L2', 'D2', 'Pts2'],
      dtype='object')

In [11]:
df_test[['matched_played1', 'total_point1', 'matched_played2', 'total_point2',
       'Pld1', 'W1', 'L1', 'D1', 'Pts1', 'Pld2', 'W2', 'L2', 'D2', 'Pts2']]=None

C:\Users\vicky\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\vicky\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
df_test

,team1,team2,team1_score,team2_score,season,matched_played1,total_point1,matched_played2,total_point2,Pld1,W1,L1,D1,Pts1,Pld2,W2,L2,D2,Pts2
466,u.p. yoddha,bengal warriors,32.0,29.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
467,bengaluru bulls,tamil thalaivas,33.0,27.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
468,haryana steelers,puneri paltan,41.0,27.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
469,telugu titans,tamil thalaivas,35.0,30.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
470,dabang delhi,jaipur pink panthers,46.0,44.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
471,bengaluru bulls,patna pirates,40.0,39.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
472,u.p. yoddha,patna pirates,41.0,29.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
473,bengaluru bulls,telugu titans,40.0,39.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
474,haryana steelers,dabang delhi,47.0,25.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
475,dabang delhi,tamil thalaivas,50.0,34.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
476,bengal warriors,puneri paltan,42.0,39.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
477,u.p. yoddha,gujarat fortunegiants,33.0,26.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
478,patna pirates,tamil thalaivas,51.0,25.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
479,u mumba,telugu titans,41.0,27.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
480,bengal warriors,u mumba,29.0,26.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
481,patna pirates,jaipur pink panthers,36.0,33.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
482,bengal warriors,bengaluru bulls,42.0,40.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
483,puneri paltan,gujarat fortunegiants,43.0,33.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
484,haryana steelers,tamil thalaivas,43.0,35.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
485,dabang delhi,gujarat fortunegiants,34.0,30.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
486,patna pirates,puneri paltan,55.0,33.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
487,u.p. yoddha,jaipur pink panthers,38.0,32.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
488,dabang delhi,telugu titans,37.0,29.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
489,u mumba,u.p. yoddha,39.0,36.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
490,bengal warriors,haryana steelers,48.0,36.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
491,puneri paltan,bengaluru bulls,42.0,38.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
492,u.p. yoddha,tamil thalaivas,42.0,22.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
493,u mumba,gujarat fortunegiants,31.0,25.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None
494,bengal warriors,jaipur pink panthers,41.0,40.0,season 7,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [13]:
from sklearn.preprocessing import LabelEncoder 
  
le = LabelEncoder()

In [14]:
df_train['team1']= le.fit_transform(df_train['team1'])

In [15]:
df_train['team2']=le.transform(df_train['team2'])

In [16]:
df_test=df_test[df_test['team1']!='u.p. yoddha']

In [17]:
df_test=df_test[df_test['team2']!='u.p. yoddha']

In [18]:
df_test['team1']=le.transform(df_test['team1'])

In [19]:
df_test['team2']=le.transform(df_test['team2'])

In [20]:
df_train.drop('season',inplace=True,axis=1)

In [21]:
df_test.drop('season',inplace=True,axis=1)

In [22]:
df_test.head()

,team1,team2,team1_score,team2_score,matched_played1,total_point1,matched_played2,total_point2,Pld1,W1,L1,D1,Pts1,Pld2,W2,L2,D2,Pts2
467,1,8,33.0,27.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
468,4,7,41.0,27.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
469,9,8,35.0,30.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
470,2,5,46.0,44.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
471,1,6,40.0,39.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [23]:
df_train.columns

Index(['team1', 'team2', 'team1_score', 'team2_score', 'matched_played1',
       'total_point1', 'matched_played2', 'total_point2', 'Pld1', 'W1', 'L1',
       'D1', 'Pts1', 'Pld2', 'W2', 'L2', 'D2', 'Pts2'],
      dtype='object')

In [24]:
df_train_x=df_train[['team1', 'team2', 'team1_score', 'team2_score']]
df_train_y=df_train[['matched_played1',
       'total_point1', 'matched_played2', 'total_point2', 'Pld1', 'W1', 'L1',
       'D1', 'Pts1', 'Pld2', 'W2', 'L2', 'D2', 'Pts2']]

In [25]:
from sklearn.tree import DecisionTreeRegressor

In [26]:
regressor = DecisionTreeRegressor(random_state = 0)

In [27]:
regressor.fit(df_train_x, df_train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [28]:
df_test[['matched_played1',
       'total_point1', 'matched_played2', 'total_point2', 'Pld1', 'W1', 'L1',
       'D1', 'Pts1', 'Pld2', 'W2', 'L2', 'D2', 'Pts2']]=regressor.predict(df_test[['team1', 'team2', 'team1_score', 'team2_score']])

In [29]:
df_test['team1']=le.inverse_transform(df_test['team1'])

In [30]:
df_test['team2']=le.inverse_transform(df_test['team2'])

In [31]:
df_test['total_point1'].max()

1050.0

In [32]:
df_test[df_test['total_point1']==1050]

,team1,team2,team1_score,team2_score,matched_played1,total_point1,matched_played2,total_point2,Pld1,W1,L1,D1,Pts1,Pld2,W2,L2,D2,Pts2
483,puneri paltan,gujarat fortunegiants,43.0,33.0,26.0,1050.0,22.0,689.0,22.0,10.0,7.0,5.0,71.0,22.0,8.0,11.0,3.0,57.0

In [223]:
## from above we can predict that puneri paltan have score more points

In [33]:
df_test

,team1,team2,team1_score,team2_score,matched_played1,total_point1,matched_played2,total_point2,Pld1,W1,L1,D1,Pts1,Pld2,W2,L2,D2,Pts2
467,bengaluru bulls,tamil thalaivas,33.0,27.0,22.0,696.0,22.0,681.0,22.0,7.0,12.0,3.0,52.0,22.0,6.0,14.0,2.0,46.0
468,haryana steelers,puneri paltan,41.0,27.0,24.0,775.0,22.0,707.0,22.0,15.0,4.0,3.0,87.0,22.0,10.0,12.0,0.0,56.0
469,telugu titans,tamil thalaivas,35.0,30.0,22.0,707.0,22.0,681.0,22.0,10.0,12.0,0.0,56.0,22.0,6.0,14.0,2.0,46.0
470,dabang delhi,jaipur pink panthers,46.0,44.0,24.0,887.0,22.0,799.0,22.0,13.0,7.0,2.0,78.0,22.0,9.0,11.0,2.0,55.0
471,bengaluru bulls,patna pirates,40.0,39.0,24.0,887.0,22.0,799.0,22.0,13.0,7.0,2.0,78.0,22.0,9.0,11.0,2.0,55.0
473,bengaluru bulls,telugu titans,40.0,39.0,16.0,508.0,16.0,586.0,14.0,9.0,5.0,0.0,48.0,14.0,8.0,3.0,3.0,50.0
474,haryana steelers,dabang delhi,47.0,25.0,22.0,715.0,24.0,822.0,22.0,6.0,14.0,2.0,42.0,22.0,11.0,9.0,2.0,68.0
475,dabang delhi,tamil thalaivas,50.0,34.0,24.0,887.0,22.0,671.0,22.0,13.0,7.0,2.0,78.0,22.0,5.0,13.0,4.0,42.0
476,bengal warriors,puneri paltan,42.0,39.0,16.0,498.0,14.0,405.0,14.0,8.0,5.0,1.0,47.0,14.0,2.0,12.0,0.0,17.0
478,patna pirates,tamil thalaivas,51.0,25.0,22.0,799.0,22.0,671.0,22.0,9.0,11.0,2.0,55.0,22.0,5.0,13.0,4.0,42.0
479,u mumba,telugu titans,41.0,27.0,16.0,510.0,14.0,427.0,14.0,7.0,4.0,3.0,48.0,14.0,7.0,7.0,0.0,38.0
480,bengal warriors,u mumba,29.0,26.0,14.0,360.0,14.0,399.0,14.0,5.0,8.0,1.0,32.0,14.0,10.0,4.0,0.0,52.0
481,patna pirates,jaipur pink panthers,36.0,33.0,16.0,492.0,16.0,506.0,14.0,7.0,6.0,1.0,42.0,14.0,8.0,4.0,2.0,50.0
482,bengal warriors,bengaluru bulls,42.0,40.0,23.0,725.0,24.0,887.0,22.0,12.0,8.0,2.0,69.0,22.0,13.0,7.0,2.0,78.0
483,puneri paltan,gujarat fortunegiants,43.0,33.0,26.0,1050.0,22.0,689.0,22.0,10.0,7.0,5.0,71.0,22.0,8.0,11.0,3.0,57.0
484,haryana steelers,tamil thalaivas,43.0,35.0,23.0,727.0,24.0,775.0,22.0,13.0,5.0,4.0,79.0,22.0,15.0,4.0,3.0,87.0
485,dabang delhi,gujarat fortunegiants,34.0,30.0,24.0,887.0,25.0,876.0,22.0,13.0,7.0,2.0,78.0,22.0,17.0,3.0,2.0,93.0
486,patna pirates,puneri paltan,55.0,33.0,16.0,594.0,14.0,384.0,14.0,10.0,2.0,2.0,58.0,14.0,1.0,12.0,1.0,11.0
488,dabang delhi,telugu titans,37.0,29.0,16.0,508.0,16.0,586.0,14.0,9.0,5.0,0.0,48.0,14.0,8.0,3.0,3.0,50.0
490,bengal warriors,haryana steelers,48.0,36.0,24.0,749.0,26.0,1050.0,22.0,11.0,5.0,6.0,77.0,22.0,10.0,7.0,5.0,71.0
491,puneri paltan,bengaluru bulls,42.0,38.0,14.0,427.0,16.0,594.0,14.0,7.0,7.0,0.0,38.0,14.0,10.0,2.0,2.0,58.0
493,u mumba,gujarat fortunegiants,31.0,25.0,22.0,715.0,25.0,876.0,22.0,6.0,14.0,2.0,42.0,22.0,17.0,3.0,2.0,93.0
494,bengal warriors,jaipur pink panthers,41.0,40.0,24.0,749.0,26.0,1050.0,22.0,11.0,5.0,6.0,77.0,22.0,10.0,7.0,5.0,71.0